.oyster_image_container {
  position: fixed;
  z-index: -1;
  background-color: transparent;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 1s;
  animation-name: apparition;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid yellow;
  .oyster1 {
    z-index: -0.2;
    width: 19rem;
    height: 20rem;
    left: 0;
    filter: brightness(0) invert(1) blur(50px);
    -webkit-filter: brightness(0) invert(1) blur(3px);
  }
  .oyster2 {
    z-index: -0.2;
    width: 18.7rem;
    height: 19.5rem;
    right: 0;
    background: -moz-linear-gradient(top, transparent, black);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(1, rgba(255, 255, 255, 1)),
      color-stop(0, rgba(255, 255, 255, 0))
    );
    background-clip: text; /* Firefox only */
    -webkit-background-clip: text; /* needed for chrome/Safari/opera */
    -webkit-text-fill-color: transparent; /*full support except IE, not on standard track */
    &.grayscale {
      filter: invert(13%) sepia(8%) saturate(22%) hue-rotate(-0.25turn)
        brightness(85%) contrast(98%);
      -webkit-filter: invert(13%) sepia(8%) saturate(22%) hue-rotate(-0.25turn)
        brightness(85%) contrast(98%);
    }
    &::after {
      border: 20px solid green;
      border-image-source: linear-gradient(lightgreen, darkgreen);
      border-image-slice: 20;
    }
  }

  img {
    position: absolute;
    background-size: cover;
    perspective-origin: center;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    background-clip: content-box;
  }

  @keyframes apparition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes move {
    0% {
      transform: translate3d(0, -4px, 0);
    }
  }
}
