@import "../../style/font.scss";

main {
  padding: 0 87px;

  .refs_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .refs_list_items {
    text-transform: uppercase;
    padding: 44px;
  }

  @media only screen and (max-width: 1200px) {
    padding: 0 5px;

    .refs_list_items {
      padding: 0 0 44px 0;

      li {
        font-size: 24px;
      }
    }
  }
}

.schema {
  width: 100%;
  display: block;
  height: 100vh;
  overflow: hidden;

  .img_box {
    display: flex;
    height: 100%;

    img {
      margin: auto;
      width: 80%;
    }
  }

  @media only screen and (max-width: 1200px) {
    height: inherit;

    .img_box {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}
