.nav_container {
  display: flex;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  .__logo {
    margin-right: auto;
    min-width: 27%;
    height: auto;
    justify-content: flex-start;
    display: flex;
    position: relative;
    cursor: pointer;
    object-fit: cover;
  }
  .__left {
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    margin: auto;
    color: #fff;
    p {
      letter-spacing: 6px;
      font-weight: lighter;
    }
  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease 0s;
    font-size: 25px;
  }

  a:hover {
    color: grey;
  }

  @media only screen and (max-width: 1200px) {
    padding: 0 5px;

    .__left {
      p {
        font-size: 24px;
        letter-spacing: 0;
      }
    }

    .__links {
      display: none !important;
    }
  }
}
