* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  font-size: 55px;
  text-align-last: left;
  text-transform: uppercase;
  font-family: "Georama", sans-serif;
}

p {
  font-size: 34px;
  white-space: pre-wrap;
  list-style: none;
  font-weight: lighter;
  line-height: 1.2;
}

a {
  color: #fff;
}

.italic {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: lighter;
}

.arimo {
  font-family: "Arimo", sans-serif;
  font-weight: lighter;
}
